body {
    display: flex;
}

#Gauche {
    border-style: groove;
}

#Droite {
    height: 100%
}

#Grille {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    width: 100%;
}